<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thanks for you order, <%=h @customer.first_name %>!</h1>
    <p>
      Here are the details for your order:
    </p>

    <p>
    <b>Order Number:</b>
    <%= link_to @order.id, customer_order_url({:customer_id => @order.customer_id, :id => @order.id}) %><br />
    <b>Pay type:</b>
    <%=h @order.pay_type %><br/>
    <% if @order.pay_type == "paypal" %>
      <b>PayPal Transaction ID: </b>
      <%=h @order.pp_tx_id %><br/>
    <% end %>
      <br/>
    <b>Total:</b>
    <%=h @order.total %>
    </p>

    <table id="order_summary" >
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Total price</th>
          <th>Download URL</th>
        </tr>
      </thead>
      <tbody>
        <% @order.line_items.each do |line_item| %>
        <tr>
          <td><%= link_to line_item.product.title, :controller => 'store', :action => 'show', :id => line_item.product.id %></td>
          <td><%=h line_item.quantity %></td>
          <td><%=h line_item.total_price %></td>
          <% if line_item.product.category.name == 'music' %>
            <td>* <%= link_to line_item.product.music_file_name, line_item.product.music.get_priv_url %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
    <p>Thanks ordering and have a great day!</p>
    <p>* Link is valid for 5 minutes. Click <%= link_to "here", customer_order_url({:customer_id => @order.customer_id, :id => @order.id}) %> to obtain a new link.</p>
  </body>
</html>
