<h1>Listing Groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Discount</th>
  </tr>

<% for group in @groups %>
  <tr>
    <td><%=h group.name %></td>
    <td><%=h group.discount %></td>
    <td><%= link_to 'Show', admin_group_path(group) %></td>
    <td><%= link_to 'Edit', edit_admin_group_path(group) %></td>
    <td><%= link_to 'Destroy', admin_group_path(group), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group', new_admin_group_path %>
