<div class="fennyfund-form">
<% form_for([:admin, @group]) do |f| %>
	<%= f.error_messages %>
	<fieldset> 
	<legend>Enter Group Details</legend>
	
	<div>
		<%= f.label :name %>:
		<%= f.text_field :name, :size => 40 %>
	</div>

  <div>
		<%= f.label :discount %>:
		<%= f.text_field :discount %>
	</div>
	
	<div>
		<%= f.submit "Add Group", :class => "submit" %>
	</div>
	
	</fieldset>
<% end %>
	
</div>
