<p>
  <b>Name:</b>
  <%=h @group.name %><br />
  <b>Discount:</b>
  <%=h @group.discount %><br/>
  <b>Discount Text:</b>
  <%=h @group.discount_desc %><br/>
  <b>Description:</b>
  <%=h @group.description %><br/>
</p>


<%= link_to 'Edit', edit_admin_group_path(@group) %> |
<%= link_to 'Back', admin_groups_path %>
