<p>
  <%= image_tag(@product.photo.url,
            :alt => @product.title,
            :title => "More Info",
            :class => "show_img") %>
</p>


<% if @product.category.name == "music" %>
  <p>
  <h3><%= @product.band_name %></h3>
  </p>
<% end %>
  <%= @product.title %>



<p>
  <%= @product.description.gsub(/\r\n/,'<br/>').gsub(/[^[:print:]]/,'') %>
</p>

<% if @product.band_links[0].name != "" %>
  Links:
      <% @product.band_links.each do |link| %>
        <% if link.name != "" && link.url != "" %>
          <%= link_to link.name, link.url, :popup => true %>&nbsp;
        <% end %>
      <% end %>
  <% end %>

<p>
  
    <b>Price:</b>
    <span class="price"><%= number_to_currency(@product.price) %>
    <% form_remote_tag :url => { :controller => 'store', :action => 'add_to_cart',
                   :id => @product } do %>
      <%= submit_tag "Add to Cart", :disable_with => "Added" %>
    <% end %>
    </span>
  
</p>

<%= link_to 'Back', session[:return_to] %>
