
	<div class="entry">
		<% form_remote_tag :url => { :action => :add_to_cart, :id => product } do %>
    		<%= image_submit_tag(product.photo.url,
									:alt => product.title,
									:title => "Add to cart",
                                    :class => "img") %>
		<% end %>
    <% if product.category == "music" %>
      <h3><%=h product.band_name %></h3>
    <% end %>
    <%=h product.title %><br/><br/>
		<%=h product.description %><br/>
    <% if product.category == "music" %>
      Links:<% product.band_links.each do |link| %>
        <%= link.get_link %>&nbsp;
      <% end %>
      <div class="play-sample-line">
        <% if product.music_file_name != nil %>
          <%  @sounds.push([product.id, product.music.get_priv_url]) %>
        <% end %>
        <div> Play Sample: <%= toggle_sound product.id %></div>
      </div>
    <% end %>
		<div class="price-line">
			<span class="price"><%= number_to_currency(product.price) %></span>
			<% form_remote_tag :url => { :action => 'add_to_cart',
										 :id => product } do %>
				<%= submit_tag "Add to Cart" %>
			<% end %>
		</div>
	</div>

