<div class="entry">
  <div class="leftcol">
    <% link_to product_path(product) do %>
        <%= image_tag(product.photo.url,
                  :alt => product.title,
                  :title => "More Info",
                  :class => "img") %>
    <% end %>
  </div>
  <div class="nametitle">
    <% if product.category.name == "music" %>
      <h3><%= product.band_name %></h3>
    <% end %>
    <%= product.title %><br/>
    <a href="#prod_desc_<%= product.id %>" rel="facebox">More Info</a>
  </div>
  <div class="rightcol">
    <% if product.category.name == "music" && product.music_file_name != nil %>
      <% if product.music_sample.url != nil %>
        <% @sounds.push([product.id, product.music_sample.url]) %>
        <div class="sample">Sample: <%= toggle_sound product.id %></div>
      <% end %>
    <% end %>
        <br />
    <div class="price-line">

      <span class="price"><%= number_to_currency(product.price) %></span>
      <% form_remote_tag :url => { :action => 'add_to_cart',
                     :id => product } do %>
        <%= submit_tag "Add to Cart", :disable_with => "Added" %>
      <% end %>

    </div>
  </div>
  <%= render :partial => 'prod_desc', :locals => {:product => product}  %>
</div>

