<div class="fennyfund-form">
  
	<%= error_messages_for 'order' %>

  <form action=<%= @pp_form_url %>  method="post">
    <input type="hidden" name="business" value=<%= @pp_business %> />
    <input type="hidden" name="cmd" value=<%= @pp_cmd %> />
    <input type="hidden" name="item_name" value="<%= @pp_item %>" />
    <input type="hidden" value="<%= @total %>" name="amount"  />
    <input type="hidden" name="currency_code" value="USD"/>
    
		<fieldset> 
			<legend>Please Enter Your Details</legend>
			<div>
				<label for="order_pay_type">Pay with:</label>
				<select id="order_pay_type" name="order[pay_type]"><option value="paypal">PayPal</option></select>
			</div>
			
			<input class="submit" name="commit" type="submit" value="Place Order" />
			
			<%= link_to "Cancel Order", {:action => 'cancel_order'},
										{:class => "cancel", 
										:confirm => "Are you sure you want to cancel your order?" }
			%>
		</fieldset>
		
	</form>

</div>