<h1>The Fenny Fund Catalog</h1>
When the idea for the Fenny Fund CD began it was to focus on local artists, New York and maybe even New Jersey. Turns out musicians are a big hearted lot and pretty soon songs were coming in from Boston, Phoenix, Toronto and Nashville. The Fenny Fund thanks these generous souls for their song donations and is in awe of their musical talent.
Enjoy.

<div class="prod_table">
<% @products.group_by(&:grouping).each do |grouping, products| %>
  <div class="group_row">
    <div class="group_cell">
      <div id="<%= grouping.gsub(" ", "") %>">
        <h3><%= grouping -%></h3><% form_remote_tag :url => { :action => 'add_all_to_cart',:grouping => grouping } do %>
              <%= submit_tag "Click to buy all!", :disable_with => "Added", :class => "buy-all" %>
            <% end %>
      </div>
    </div>
  </div>
    <% for product in products %>
           <div class="entry_cell"><%= render :partial => 'product', :object => product %></div>
    <% end %>
<% end %>
</div> <!-- END PROD_TABLE -->
<%= initialize_sounds(@sounds) %>
