<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>The Fenny Fund Online Store</title>
	<%= stylesheet_link_tag "thefennyfund", :media => "all" %>
	<%= javascript_include_tag :defaults %>
  
</head> 
<body id="store">
	<div id="banner">
		<%= image_tag("ff_logo2.jpg") %>
    <div id="text">
      <%= @page_title || "The Fenny Fund Store" %>
    </div>
	</div> 
	<div id="columns">
		<div id="side">
			<% if @cart %>
				<% hidden_div_if(@cart.items.empty?, :id => "cart") do %> 
					<%= render(:partial => "cart", :object => @cart) %>
				<% end %>
			<% end %>
			<a href="http://thefennyfund.com/">The Fenny Fund Home</a><br /><br />
			<%= link_to 'Store Home', root_url %><br />
      <%= link_to 'Register', new_customer_url %><br />
			<%= link_to 'Customer Login',	login_url %><br />
     
			
			<% if session[:user_id] %>
				<br />
        Admin Options:<br />
				<%= link_to 'Orders',	admin_orders_path %><br />
				<%= link_to 'Products', admin_products_path %><br />
        <%= link_to 'Customers',	admin_customers_path	%><br />
				<%= link_to 'Admin Users',	admin_users_path	%><br />
				<br />
				<%= link_to 'Logout', '/admin/logout' %>
        <br />
			<% end %>
      <% if session[:customer_id] %>
				<br />
        Customer Options:<br />
				<%= link_to 'Orders',	customer_orders_url(session[:customer_id]) %><br />
        <%= link_to 'Profile',	customer_url(session[:customer_id]) %><br />
				<br />
        <%= link_to 'Logout',	logout_url %><br />
				
			<% end %>
		</div> 
		<div id="main">
      <% if session[:customer_name] %>
      <h3 id="cust-name">Hello, <%=h session[:customer_name]%>!</h3>
      <% end %>
			<% if flash[:notice] -%> 
				<div id="notice"><%= flash[:notice] %></div>
			<% end -%>
			<%= yield :layout %>
		</div> 
	</div>
</body> 
</html>
